antlr4-python3-runtime==4.13.1
certifi==2021.10.8
matplotlib
networkx==2.8.4
pandas
Pillow==11.1.0
python-dotenv==0.19.1
nltk==3.6.5
pyspellchecker==0.6.2
seaborn==0.11.2
torch
transformers
fastapi
uvicorn
celery
redis
minio
scikit-learn
imblearn
python-multipart
torchrl
diagrams
psutil
