<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item {% if index %}active{% endif %}">
            <a class="nav-link" href="{% url 'index' %}">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">CodArt Project</span>
            </a>
        </li>
        <li class="nav-item {% if refactorings %}active{% endif %}">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="icon-layout menu-icon"></i>
                <span class="menu-title">Refactorings</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse {% if refactorings %}show{% endif %}" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    {% for refactoring in all_refactorings %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ refactoring.get_absolute_url }}">
                            {{ refactoring }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false"
               aria-controls="form-elements">
                <i class="icon-columns menu-icon"></i>
                <span class="menu-title">Code Smells</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="form-elements">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">Basic Elements</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
                <i class="icon-bar-graph menu-icon"></i>
                <span class="menu-title">Design Patterns</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="charts">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="pages/charts/chartjs.html">ChartJs</a></li>
                </ul>
            </div>
        </li>

        <li class="nav-item {% if about_us %}active{% endif %} ">
            <a class="nav-link" href="{% url 'about_us' %}">
                <i class="icon-heart menu-icon"></i>
                <span class="menu-title">About Us</span>
            </a>
        </li>
    </ul>
</nav>
